.intro-header {
  background-color: #282c34;
  transition: background-color 3s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Abril Fatface';
  font-size: calc(40px + 2vmin);
  color: white;
}:hover {
  background-color: white;
}
